@mixin title {
  text-align: center;
  max-width: 558px;
  margin: 0 auto;
  margin-bottom: 50px;
  h2 {
    color: $dark-blue;
    margin-top: 0;
    margin-bottom: 0;
    font: {
      size: 45px;
      family: 'Raleway', sans-serif;
      weight: 600;
    }
  }
  p {
    color: $gray;
    line-height: 24px;
    font: {
      size: 15px;
      family: 'Raleway', sans-serif;
      weight: 400;
    }
  }
}
